/vendor/
/var/
/node_modules/
/drivers/
/composer.lock

/etc/build/*
!/etc/build/.gitignore

/.phpunit.result.cache
/.phpunit.cache/
/phpunit.xml
/phpstan.neon
/behat.yml

/docs/_private/

/.idea/
/.claude/
/.cursor/
/.env
/.env.local
/compose.override.yml
/compose.override.yaml
/.php-cs-fixer.cache

# Symfony CLI https://symfony.com/doc/current/setup/symfony_server.html#different-php-settings-per-project
/.php-version
/php.ini

/tests/TestApplication/.env.local
/tests/TestApplication/.env.*.local

/config/jwt/*.pem
/vendor/sylius/test-application/public/build/
/vendor/sylius/test-application/public/bundles/
npm-debug.log
yarn-error.log
